@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  overflow-x: hidden !important;
}
.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 30px 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo h1 {
  color: black;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
}
.nav .list {
  margin-left: 50px;
}
.nav .list li {
  display: inline;
}
.nav .list li a {
  margin-right: 30px;
  color: black;
  font-weight: 700;
  padding-bottom: 4px;
}

.nav .list li a:hover {
  color: crimson;
}
.ham {
  display: none;
}
.content {
  margin: 50px;
  padding: 50px 100px;
  border: 2px solid black;
}
.top {
  position: relative;
  margin: 30px 0;
}
.icons {
  position: absolute;
  right: 0;
  bottom: 0;
}
.icons a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 20px;
  outline: none;
}
.icons a:hover i {
  transition: 0.5s all ease;

  transform: translateY(-15px);
}
.title {
  color: crimson;
}
.date {
  margin: 0 40px;
  font-weight: lighter;
}
.projimg img {
  height: 400px;
  width: 800px;
  margin: 20px;
  border-radius: 10px;
}
.projimg {
  text-align: center;
}
.bulb {
  margin: 40px 0;
  font-size: 30px;
  cursor: pointer;
}
.like {
  margin: 0 10px;
  font-size: 20px;
}
.bulb.toggle {
  color: yellow;
}
.form_search {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.search-item {
  width: 60%;
  height: 35px;
  outline: none;
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid black;
}
#searchbutton {
  margin-left: 20px !important;
  padding: 5px 10px;
  background-color: rgba(65, 201, 255, 0.788);
  color: white;
  border-radius: 10px;
}

@media (max-width: 929px) {
  .ham {
    display: block;
  }
  .nav .list {
    top: 56px;
    left: -100%;
    margin: 0;
    display: block;
    position: fixed;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.5s;
    z-index: 99;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .logo h1 {
    font-size: 30px;
  }
  .nav .list.active {
    top: 56px;
    left: 0;
    margin: 0;
    display: block;
    position: fixed;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.3s all ease;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .nav .list li a {
    display: block;
    color: black !important;
    font-size: 18px;
    margin: 20px 0;
  }

  .nav {
    padding: 10px;
  }
  .icons {
    position: absolute;
    left: -10px;
    bottom: -40px;
  }
  .description {
    margin: 70px 0;
  }
  .content {
    margin: 50px;
    padding: 50px 50px;
    border: 2px solid black;
  }
  .projimg img {
    height: 250px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
  }
}
@media (max-width: 720px) {
  .title {
    font-size: 20px;
  }
  .content {
    margin: 0px;
    padding: 0px 20px;
    border: none;
  }
  .date {
    font-size: 16px;
    margin-right: 10px;
  }
  .icons a {
    margin-left: 10px;
    font-size: 17px;
  }
}
